/* Comunes */

body {
    width: 100% !important;
    font-family: var(--roboto-regular);
    overflow-x: hidden;
}

.my-ws {
    margin-top: 7.8rem !important;
    margin-bottom: 7.8rem !important;
}

.mt-ws {
    margin-top: 7.8rem !important;
}

.mb-ws {
    margin-bottom: 7.8rem !important;
}

@media (min-width: 992px) {
    .my-lg-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}



/** Variables CSS **/
:root {
    --roboto-black: 'Roboto-black', sans-serif;
    --roboto-blackitalic: 'Roboto-blackitalic', sans-serif;
    --roboto-bold: 'Roboto-bold', sans-serif;
    --roboto-bolditalic: 'Roboto-bolditalic', sans-serif;
    --roboto-italic: 'Roboto-italic', sans-serif;
    --roboto-light: 'Roboto-light', sans-serif;
    --roboto-lightitalic: 'Roboto-lightitalic', sans-serif;
    --roboto-medium: 'Roboto-medium', sans-serif;
    --roboto-mediumitalic: 'Roboto-mediumitalic', sans-serif;
    --roboto-regular: 'Roboto-regular', sans-serif;
    --roboto-thin: 'Roboto-thin', sans-serif;
    --roboto-thinitalic: 'Roboto-thinitalic', sans-serif;

    /* Color Palette */
    --bold-blue: #0D3041;
    --blue: #127eb5;
    --aquamarine: #42C3AE;
    --green: #4dc250;
    --orange: #fe9100;
    --white: #f5f5f5;
    --medium-gray: #4d4d4f;
    --light-gray: #d4cece;
    --light-gray-o26: #d4cece42;
}

/*Font face*/

@font-face {
    font-family: 'Roboto-black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-blackitalic';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-bolditalic';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-italic';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-lightitalic';
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-mediumitalic';
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-thinitalic';
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}

/* Font Classes */
.font-roboto {
    font-family: var(--roboto-regular);
}

.font-roboto-black {
    font-family: var(--roboto-black);
}

.font-roboto-blackitalic {
    font-family: var(--roboto-blackitalic);
}

.font-roboto-bold {
    font-family: var(--roboto-bold);
}

.font-roboto-bolditalic {
    font-family: var(--roboto-bolditalic);
}

.font-roboto-italic {
    font-family: var(--roboto-italic);
}

.font-roboto-light {
    font-family: var(--roboto-light);
}

.font-roboto-light-title {
    font-family: var(--roboto-light);
}

.font-roboto-light-title b {
    font-family: var(--roboto-black);
}


.font-roboto-light-title strong {
    font-family: var(--roboto-black);
}

.font-roboto-lightitalic {
    font-family: var(--roboto-lightitalic);
}

.font-roboto-medium {
    font-family: var(--roboto-medium);
}

.font-roboto-mediumitalic {
    font-family: var(--roboto-mediumitalic);
}

.font-roboto-regular {
    font-family: var(--roboto-regular);
}

.font-roboto-thin {
    font-family: var(--roboto-thin);
}

.font-roboto-thinitalic {
    font-family: var(--roboto-thinitalic);
}

/* Text Uppercase */
.tx-uppercase {
    text-transform: uppercase;
}

/* Bold Blue */
.tx-bold-blue {
    color: var(--bold-blue);
}

.bg-bold-blue {
    background: var(--bold-blue);
}

.border-bold-blue {
    border-color: var(--bold-blue);
}

/* Blue */
.tx-blue {
    color: var(--blue);
}

.bg-blue {
    background: var(--blue);
}

/* Aquamarine */
.tx-aquamarine {
    color: var(--aquamarine);
}

.bg-aquamarine {
    background: var(--aquamarine);
}

/* Green */
.tx-green {
    color: var(--green);
}

.bg-green {
    background: var(--green);
}

/* Orange */
.tx-orange {
    color: var(--orange);
}

.bg-orange {
    background: var(--orange);
}

/* White */
.tx-white {
    color: var(--white);
}

.bg-white {
    background: var(--white);
}

/* Medium Gray */
.tx-medium-gray {
    color: var(--medium-gray);
}

.bg-medium-gray {
    background: var(--medium-gray);
}

/* Light Gray */
.tx-light-gray {
    color: var(--light-gray);
}

.bg-light-gray {
    background: var(--light-gray);
}

.bg-light-gray-o26 {
    background: var(--light-gray-o26);
}

.fw-bold {
    font-weight: bold;
}

/* Custom Margin */

.mr-10 {
    margin-right: 6rem;
}

.ml-10 {
    margin-left: 6rem;
}

.mb-10 {
    margin-bottom: 6rem;
}

.mt-10 {
    margin-top: 6rem;
}

.my-10 {
    margin-bottom: 6rem;
    margin-top: 6rem;
}

.mx-10 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.mt-20 {
    margin-top: 12rem;
}

.mb-20 {
    margin-bottom: 12rem;
}

.mr-20 {
    margin-right: 12rem;
}

.ml-20 {
    margin-left: 12rem;
}

.my-20 {
    margin-bottom: 12rem;
    margin-top: 12rem;
}

.mx-20 {
    margin-left: 12rem;
    margin-right: 12rem;
}

@media (min-width: 768px) {
    .mr-md-10 {
        margin-right: 6rem !important;
    }

    .ml-md-10 {
        margin-left: 6rem !important;
    }

    .mb-md-10 {
        margin-bottom: 6rem !important;
    }

    .mt-md-10 {
        margin-top: 6rem !important;
    }

    .my-md-10 {
        margin-bottom: 6rem !important;
        margin-top: 6rem !important;
    }

    .mx-md-10 {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }

    .mt-md-20 {
        margin-top: 12rem !important;
    }

    .mb-md-20 {
        margin-bottom: 12rem !important;
    }

    .mr-md-20 {
        margin-right: 12rem !important;
    }

    .ml-md-20 {
        margin-left: 12rem !important;
    }

    .my-md-20 {
        margin-bottom: 12rem !important;
        margin-top: 12rem !important;
    }

    .mx-md-20 {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
}

@media (min-width: 992px) {
    .mr-lg-10 {
        margin-right: 6rem !important;
    }

    .ml-lg-10 {
        margin-left: 6rem !important;
    }

    .mb-lg-10 {
        margin-bottom: 6rem !important;
    }

    .mt-lg-10 {
        margin-top: 6rem !important;
    }

    .my-lg-10 {
        margin-bottom: 6rem !important;
        margin-top: 6rem !important;
    }

    .mx-lg-10 {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }

    .mt-lg-20 {
        margin-top: 12rem !important;
    }

    .mb-lg-20 {
        margin-bottom: 12rem !important;
    }

    .mr-lg-20 {
        margin-right: 12rem !important;
    }

    .ml-lg-20 {
        margin-left: 12rem !important;
    }

    .my-lg-20 {
        margin-bottom: 12rem !important;
        margin-top: 12rem !important;
    }

    .mx-lg-20 {
        margin-left: 12rem !important;
        margin-right: 12rem !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-group .dropdown-toggle::after {
    display: none !important;
}


.error {
    background: #FBE5E7 !important;
}

#alert {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5000;
    height: auto;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

#pdesc {
    font-size: 1rem;
}

/* Fin comunes */

/* Cambios de mateo */

/* NavBar */

.a-nav,
.p-nav {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0rem;
}

.unicab-brand {
    width: max-content;
    height: max-content;
}

#bars {
    border: #F5F5F5 1px solid;
    border-radius: 5px;
}

#menuDisplay {
    background-color: var(--blue);
}

#menuDisplay.hover {
    display: block !important;
}

#menuDisplay.hover {
    display: block !important;
}

.menu-item-text {
    text-align: center;
    width: 90%;
    padding: 0.5em;
}

.first-level-link:hover {
    background-color: var(--aquamarine) !important;
}

.first-level-link.hover {
    background-color: var(--aquamarine) !important;
}

.menu-item-text:hover {
    color: rgb(27, 27, 27) !important;
    background-color: rgba(86, 190, 243);
    cursor: pointer;
}

.menu-item-text.hover {
    color: rgb(27, 27, 27) !important;
    background-color: rgba(86, 190, 243);
    cursor: pointer;
}

.menu-item-text.hover svg {
    transform: rotate(180deg);
}

.dropdown_our-container.hover {
    border-radius: 0;
}

.dropdown_our.hover {
    display: block !important;
}

.dropdown_our2.hover {
    display: block;
}

.dropdown_our2 {
    box-sizing: border-box;
    overflow-x: hidden;
    display: none;
    background-color: rgba(24, 125, 174);
    padding-left: 0.5em;
    padding-right: 1em;
    padding-block: 1.5em;
}

.dropdown_our-item:hover {
    color: var(--white);
    background-color: rgba(86, 190, 243, 0.97);
}

.dropdown_our-item.hover {
    color: var(--white);
    background-color: rgba(86, 190, 243, 0.97);
}

.dropdown_our-item {
    display: block;
    width: 100%;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.divide-words {
    padding-block: 0.25rem;
    padding-left: 0rem;
    padding-right: 1rem;
}

.icon-row {
    padding-inline: 1em;
}


@media (min-width: 992px) {
    #menuDisplay li:last-child {
        padding-right: 3rem !important;
    }

    .menu-item-text:hover {
        background-color: inherit;
        color: var(--medium-gray) !important;
        cursor: pointer;
    }

    .menu-item-text.hover {
        background-color: inherit;
        color: var(--medium-gray) !important;
        cursor: pointer;
    }

    .dropdown_our-item {
        border-bottom: 2px solid rgba(86, 190, 243, 0.97);
    }

    #menuDisplay {
        background-color: inherit;
    }

    .menu-item-text {
        width: fit-content;
    }

    .icon-row {
        display: none;
    }

    .main-nav {
        height: 70px;
    }

    .menu-item-text {
        max-width: 100px;
    }

    .menu-item-text:hover {
        border-bottom: 2px solid var(--medium-gray);
    }

    .menu-item-text.hover {
        border-bottom: 2px solid var(--medium-gray);
    }

    .dropdown_our-container {
        position: absolute;
        width: auto !important;
    }

    .dropdown_our-container.hover {
        border: none;
    }

    .dropdown_our {
        background: unset !important;
        min-width: 160px;
        z-index: 1000;
    }

    .dropdown_our::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        opacity: 0.97;
    }

    .dropdown_our.hover {
        display: flex !important;
        flex-direction: row;
    }

    .dropdown_our2 {
        background-color: rgba(24, 125, 174, 0.90);
        flex-direction: row;
        min-width: 160px;
        z-index: 1000;
        left: 100%;
        top: 0;
    }

    .dropdown_our2.hover {
        display: flex;
    }

    .divide-words {
        white-space: normal;
        word-wrap: break-word;
        max-width: 250px;
        box-sizing: border-box;
    }

    .mt-md-10 {
        margin-top: 6rem !important;
    }

}

@media (min-width: 1024px) {
    .menu-item-text {
        white-space: nowrap;
        max-width: 200px;
    }
}

/* Fin navBar */

/* Footer */

h5-footer {
    font-size: 1.8rem;
    line-height: 2.15rem;
    letter-spacing: 0.0505rem;
}

p-footer {
    font-size: 1.5rem;
    line-height: 2.15rem;
    letter-spacing: 0.042rem;
}

p1-footer {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.035rem;
}

p2-footer {
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.0225rem;
}

p3-footer {
    font-size: 1.35rem;
    line-height: 1.65rem;
    letter-spacing: 0.038rem;
}

p4-footer {
    font-size: 0.8rem;
    line-height: 1.15rem;
    letter-spacing: 0.0225rem;
}



.image-footer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.image-footer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.image-footer:hover p2-footer {
    color: #4DC250;
}

/* Fin footer */

/* Inicio aboutUs */

h1-nosotros {
    font-size: 4.6875rem;
    /* 75px / 16 */
    line-height: 4.6875rem;
    /* 75px / 16 */
    letter-spacing: 0.13125rem;
    /* 2.1px / 16 */
}

h2-nosotros {
    font-size: 3.75rem;
    /* 60px */
    line-height: 3.75rem;
    /* 60px */
    letter-spacing: 0.105rem;
    /* 1.68px */
}

h3-nosotros {
    font-size: 2.5rem;
    /* 40px / 16 */
    line-height: 3rem;
    /* 48px / 16 */
    letter-spacing: 0.07rem;
    /* 1.12px / 16 */
}

p-nosotros {
    font-size: 1.3125rem;
    /* 21px */
    line-height: 2.1875rem;
    /* 35px */
    letter-spacing: 0.0225rem;
    /* 0.36px */
}

p-nosotros-1 {
    font-size: 1.3125rem;
    /* 21px / 16 */
    line-height: 1.5625rem;
    /* 25px / 16 */
    letter-spacing: 0.0225rem;
    /* 0.36px / 16 */
}

.icon-education {
    max-width: 60px;
    height: auto;
}

.image-info-about-us {
    max-width: 63px;
    height: auto;
    box-sizing: border-box;
    margin-left: 1rem;
}


.about-line-left::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    max-height: 400px;
    border-left: 1px solid rgb(187, 187, 187);
}

/* Fin aboutUs */


/* Inicio Institutional Directory */

h3-directory {
    font-size: 3.125rem;
    /* 50px / 16 */
    line-height: 3.75rem;
    /* 60px / 16 */
    letter-spacing: 0.0875rem;
    /* 1.4px / 16 */
}

h4-directory {
    font-size: 2.5rem;
    /* 40px / 16 */
    line-height: 3rem;
    /* 48px / 16 */
    letter-spacing: 0.07rem;
    /* 1.12px / 16 */
}

p-directory {
    font-size: 2.5rem;
    /* 40px / 16 */
    line-height: 3rem;
    /* 48px / 16 */
    letter-spacing: 0.07rem;
    /* 1.12px / 16 */
}

input.search {
    font-size: 1.5625rem;
    /* 25px / 16 */
    line-height: 1.875rem;
    /* 30px / 16 */
    letter-spacing: 0.04375rem;
    /* 0.7px / 16 */
    opacity: 0.9;
}

.custom-table {
    font-size: 1.125rem;
    /* 18px / 16 */
    line-height: 1.5rem;
    /* 24px / 16 */
    letter-spacing: 0rem;
    /* 0px / 16 */
}

.logo-buscar {
    max-width: 148px;
    height: auto;
}

.img-horario {
    max-width: 500px;
    height: auto;
}

/* Fin Institutional Directory */

/* Inicio calendarioAcademico */

h2-calendario {
    font-size: 3.75rem;
    /* 60px / 16 */
    line-height: 3.75rem;
    /* 60px / 16 */
    letter-spacing: 0.105rem;
    /* 1.68px / 16 */
}

h3-calendario {
    font-size: 3.5625rem;
    /* 57px / 16 */
    line-height: 3.5625rem;
    /* 57px / 16 */
    letter-spacing: 0.1rem;
    /* 1.6px / 16 */
}

h4-calendario {
    font-size: 2.375rem;
    /* 38px / 16 */
    line-height: 2.875rem;
    /* 46px / 16 */
    letter-spacing: 0.06625rem;
    /* 1.06px / 16 */
}

p-calendario {
    font-size: 1.3125rem;
    /* 21px / 16 */
    line-height: 1.6875rem;
    /* 27px / 16 */
    letter-spacing: 0.036875rem;
    /* 0.59px / 16 */
}


.border-radius-10 {
    border-radius: 10px !important;
}

.border-radius-20 {
    border-radius: 20px !important;
}

.btn-calendary {
    padding-block: .5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background: var(--orange);
    color: var(--white);
    font-family: var(--roboto-bold);
}

.calendary-event {
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100px;
}

.file-container {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--medium-gray);
}

/* Fin calendarioAcademico */

/* Estados financieros */
.btn-financiero {
    border: none;
    background: #16224F;
}

.btn-financiero div {
    background: #FFD156;
}

/* Inicio Certificados y papeles */

h3-financieros {
    font-size: 3.75rem;
    /* 60px / 16 */
    line-height: 3.75rem;
    /* 60px / 16 */
    letter-spacing: 0.105rem;
    /* 1.68px / 16 */
}

p-financieros {
    font-size: 1.5625rem;
    /* 25px / 16 */
    line-height: 1.875rem;
    /* 30px / 16 */
    letter-spacing: 0.04375rem;
    /* 0.7px / 16 */
}

.btn-financiero {
    border: none;
    background: #16224F;
}

.btn-financiero div {
    background: #FFD156;
}

.form-financial input,
.form-financial textarea {
    box-sizing: border-box;
    border: 2px solid #42C3AE !important;
    border-radius: 5px !important;
    color: var(--medium-gray) !important;
}

.form-financial input:focus,
.form-financial textarea:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(66, 195, 174, 0.5);
}


.form-financial #tratamiento_certificaciones {
    padding: .5rem !important;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* “Select” personalizado: ocultamos completamente la flecha nativa */
.select-wrapper .display-options {
    white-space: nowrap;
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--orange);
    height: 100%;
    border: none;
    text-align: left;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    /* ajusta un poco el padding si quieres */
    color: var(--white);
    cursor: pointer;
}

/* Cuando está enfocado (por validación, por ejemplo) */
.select-wrapper .display-options:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(66, 195, 174, 0.5);
}

.select-wrapper .selected-value {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

/* Flecha que aparece a la derecha (la sustituye por completo a la nativa) */
.select-wrapper .select-arrow {
    background-color: var(--bold-blue);
    color: #FFD156;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.5rem;
    pointer-events: none;
    /* para que el click pase al “trigger” */
    user-select: none;
}

/* Reglas para las opciones cuando se despliega el dropdown */
.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--orange);
    border-top: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease;
    z-index: 99;
}

/* Cuando abrimos (añadimos clase .open a .custom-select), expandimos */
.custom-select.open .custom-options {
    max-height: 200px;
    /* o lo que necesites para que quepan 4–5 ítems */
}

/* Cada opción interna */
.custom-option {
    padding: 0.8rem 1rem;
    cursor: pointer;
    color: var(--white);
    font-family: var(--roboto-regular);
    font-size: 1rem;
    background-color: var(--blue);
}

.custom-option:hover {
    background-color: #3a5d8f;
    /* un tono ligeramente diferente cuando haga hover */
}

.select-wrapper.error {
    border-radius: 0.25rem;
}

.select-wrapper.error .display-options {
    background: #FBE5E7 !important;
    color: var(--medium-gray) !important;
}

.btn_displayed {
    height: 2.5rem;
}

.text-up-absolute {
    position: absolute;
    top: -60px;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.btn-submit-financial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--orange) !important;
    width: fit-content !important;
}



/* Fin Certificados y papeles */

@media (max-width: 767px) {

    .my-ws {
        margin-top: 3.3rem !important;
        margin-bottom: 3.3rem !important;
    }

    .mt-ws {
        margin-top: 3.3rem !important;
    }

    .mb-ws {
        margin-bottom: 3.3rem !important;
    }

    /* Footer */
    p2-footer {
        font-size: 0.75rem;
        line-height: 1.4rem;
        letter-spacing: 0.0225rem;
    }

    /* Fin Footer */

    /* Inicio Nosotros */

    h1-nosotros {
        font-size: 1.875rem;
        /* 30px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.01875rem;
        /* 0.3px / 16 */
    }

    h2-nosotros {
        font-size: 1.875rem;
        /* 30px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.01875rem;
        /* 0.3px / 16 */
    }

    h3-nosotros {
        font-size: 1.25rem;
        /* 20px / 16 */
        line-height: 1.5rem;
        /* 24px / 16 */
        letter-spacing: 0.035rem;
        /* 0.56px / 16 */
    }

    p-nosotros {
        font-size: 1rem;
        /* 16px / 16 */
        line-height: 1.5rem;
        /* 24px / 16 */
        letter-spacing: 0.016875rem;
        /* 0.27px / 16 */
    }

    p-nosotros-1 {
        font-size: 0.8125rem;
        /* 13px / 16 */
        line-height: 1.125rem;
        /* 18px / 16 */
        letter-spacing: 0.000625rem;
        /* 0.01px / 16 */
    }

    .icon-education {
        max-width: 30px;
    }

    .image-info-about-us {
        max-width: 30px;
    }

    /* Fin Nosotros */

    /* Institutional Directory */
    h3-directory {
        font-size: 2.35rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    h4-directory {
        font-size: 1.375rem;
        /* 22px / 16 */
        line-height: 1.6875rem;
        /* 27px / 16 */
        letter-spacing: 0.03875rem;
        /* 0.62px / 16 */
    }

    p-directory {
        font-size: 1rem;
        /* 16px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.0225rem;
        /* 0.36px / 16 */
    }

    input.search {
        font-size: 0.8125rem;
        /* 13px / 16 */
        line-height: 0.9375rem;
        /* 15px / 16 */
        letter-spacing: 0.0225rem;
        /* 0.36px / 16 */
    }

    .logo-buscar {
        max-width: 77px;
        height: auto;
    }

    .img-horario {
        max-width: 250px;
        height: auto;
    }

    /* Fin Institutional Directory */

    /* Calendario academico */

    h2-calendario {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    h3-calendario {
        font-size: 1.375rem;
        /* 22px / 16 */
        line-height: 1.375rem;
        /* 22px / 16 */
        letter-spacing: 0.03875rem;
        /* 0.62px / 16 */
    }

    h4-calendario {
        font-size: 0.875rem;
        /* 14px / 16 */
        line-height: 1.0625rem;
        /* 17px / 16 */
        letter-spacing: 0.024375rem;
        /* 0.39px / 16 */
    }

    p-calendario {
        font-size: 0.9375rem;
        /* 15px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.02625rem;
        /* 0.42px / 16 */
    }

    /* Fin Calendario academico */

    /* Estados financieros */
    h3-financieros {
        font-size: 2.25rem;
        /* 40px / 16 */
        line-height: 2.25rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    p-financieros {
        font-size: 1.0625rem;
        /* 17px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.03rem;
        /* 0.48px / 16 */
    }

    .text-up-absolute {
        position: absolute;
        top: 0px;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    /* Fin Estados financieros */


}

@media (min-width: 768px) and (max-width: 991px) {

    .my-ws {
        margin-top: 5.1rem !important;
        margin-bottom: 5.1rem !important;
    }

    .mt-ws {
        margin-top: 5.1rem !important;
    }

    .mb-ws {
        margin-bottom: 5.1rem !important;
    }

    #menuDisplay li:last-child {
        padding-right: 0rem !important;
    }

    /* Inicio Nosotros */
    h1-nosotros {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.025rem;
        /* 0.4px / 16 */
    }

    h2-nosotros {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.025rem;
        /* 0.4px / 16 */
    }

    h3-nosotros {
        font-size: 1.25rem;
        /* 20px / 16 */
        line-height: 1.5rem;
        /* 24px / 16 */
        letter-spacing: 0.035rem;
        /* 0.56px / 16 */
    }

    p-nosotros {
        font-size: 1.375rem;
        /* 22px / 16 */
        line-height: 1.875rem;
        /* 30px / 16 */
        letter-spacing: 0.023125rem;
        /* 0.37px / 16 */
    }

    p-nosotros-1 {
        font-size: 1rem;
        /* 16px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.00125rem;
        /* 0.02px / 16 */
    }

    .icon-education {
        max-width: 40px;
    }

    .image-info-about-us {
        max-width: 40px;
    }

    /* Fin Nosotros */

    /* Institutional Directory */

    h3-directory {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    h4-directory {
        font-size: 1.375rem;
        /* 22px / 16 */
        line-height: 1.6875rem;
        /* 27px / 16 */
        letter-spacing: 0.03875rem;
        /* 0.62px / 16 */
    }

    p-directory {
        font-size: 1.125rem;
        /* 18px / 16 */
        line-height: 1.4375rem;
        /* 23px / 16 */
        letter-spacing: 0.02875rem;
        /* 0.46px / 16 */
    }

    input.search {
        font-size: 0.9375rem;
        /* 15px / 16 */
        line-height: 1.125rem;
        /* 18px / 16 */
        letter-spacing: 0.02625rem;
        /* 0.42px / 16 */
        opacity: 0.9;
    }

    .logo-buscar {
        max-width: 104px;
        height: auto;
    }

    .img-horario {
        max-width: 390px;
        height: auto;
    }

    /* Fin Institutional Directory */


    /* Calendario academico */

    h2-calendario {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    h3-calendario {
        font-size: 1.375rem;
        /* 22px / 16 */
        line-height: 1.375rem;
        /* 22px / 16 */
        letter-spacing: 0.03875rem;
        /* 0.62px / 16 */
    }

    h4-calendario {
        font-size: 0.875rem;
        /* 14px / 16 */
        line-height: 1.0625rem;
        /* 17px / 16 */
        letter-spacing: 0.024375rem;
        /* 0.39px / 16 */
    }

    p-calendario {
        font-size: 0.9375rem;
        /* 15px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.02625rem;
        /* 0.42px / 16 */
    }

    /* Fin Calendario academico */

    /* Certificados y papeles */

    h3-financieros {
        font-size: 2.5rem;
        /* 40px / 16 */
        line-height: 2.5rem;
        /* 40px / 16 */
        letter-spacing: 0.07rem;
        /* 1.12px / 16 */
    }

    p-financieros {
        font-size: 1.0625rem;
        /* 17px / 16 */
        line-height: 1.25rem;
        /* 20px / 16 */
        letter-spacing: 0.03rem;
        /* 0.48px / 16 */
    }

    .text-up-absolute {
        position: absolute;
        top: 0px;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    /* Fin Certificados y papeles */
}

@media (min-width: 992px) and (max-width: 1399px) {

    /* Footer */

    h5-footer {
        font-size: 1.44rem;
        /* 1.8rem * 0.8 */
        line-height: 1.72rem;
        /* 2.15rem * 0.8 */
        letter-spacing: 0.0404rem;
        /* 0.0505rem * 0.8 */
    }

    p-footer {
        font-size: 1.2rem;
        /* 1.5rem * 0.8 */
        line-height: 1.72rem;
        /* 2.15rem * 0.8 */
        letter-spacing: 0.0336rem;
        /* 0.042rem * 0.8 */
    }

    p1-footer {
        font-size: 1rem;
        /* 1.25rem * 0.8 */
        line-height: 1.2rem;
        /* 1.5rem * 0.8 */
        letter-spacing: 0.028rem;
        /* 0.035rem * 0.8 */
    }

    p2-footer {
        font-size: 0.8rem;
        /* 1rem * 0.8 */
        line-height: 1.12rem;
        /* 1.4rem * 0.8 */
        letter-spacing: 0.018rem;
        /* 0.0225rem * 0.8 */
    }

    p3-footer {
        font-size: 1.08rem;
        /* 1.35rem * 0.8 */
        line-height: 1.32rem;
        /* 1.65rem * 0.8 */
        letter-spacing: 0.0304rem;
        /* 0.038rem * 0.8 */
    }

    p4-footer {
        font-size: 0.64rem;
        /* 0.8rem * 0.8 */
        line-height: 0.92rem;
        /* 1.15rem * 0.8 */
        letter-spacing: 0.018rem;
        /* 0.0225rem * 0.8 */
    }

    /* Fin footer */

    /* Inicio aboutUs */

    h1-nosotros {
        font-size: 3.75rem;
        /* 75px * 0.8 / 16 */
        line-height: 3.75rem;
        /* 75px * 0.8 / 16 */
        letter-spacing: 0.105rem;
        /* 2.1px * 0.8 / 16 */
    }

    h2-nosotros {
        font-size: 3rem;
        /* 60px * 0.8 / 16 */
        line-height: 3rem;
        /* 60px * 0.8 / 16 */
        letter-spacing: 0.084rem;
        /* 1.68px * 0.8 / 16 */
    }

    h3-nosotros {
        font-size: 2rem;
        /* 40px * 0.8 / 16 */
        line-height: 2.4rem;
        /* 48px * 0.8 / 16 */
        letter-spacing: 0.056rem;
        /* 1.12px * 0.8 / 16 */
    }

    p-nosotros {
        font-size: 1.05rem;
        /* 21px * 0.8 / 16 */
        line-height: 1.75rem;
        /* 35px * 0.8 / 16 */
        letter-spacing: 0.018rem;
        /* 0.36px * 0.8 / 16 */
    }

    p-nosotros-1 {
        font-size: 1.05rem;
        /* 21px * 0.8 / 16 */
        line-height: 1.25rem;
        /* 25px * 0.8 / 16 */
        letter-spacing: 0.018rem;
        /* 0.36px * 0.8 / 16 */
    }

    /* Fin aboutUs */

    /* Inicio Institutional Directory */

    h3-directory {
        font-size: 2.5rem;
        /* 50px * 0.8 / 16 */
        line-height: 3rem;
        /* 60px * 0.8 / 16 */
        letter-spacing: 0.07rem;
        /* 1.4px * 0.8 / 16 */
    }

    h4-directory {
        font-size: 2rem;
        /* 40px * 0.8 / 16 */
        line-height: 2.4rem;
        /* 48px * 0.8 / 16 */
        letter-spacing: 0.056rem;
        /* 1.12px * 0.8 / 16 */
    }

    p-directory {
        font-size: 2rem;
        /* 40px * 0.8 / 16 */
        line-height: 2.4rem;
        /* 48px * 0.8 / 16 */
        letter-spacing: 0.056rem;
        /* 1.12px * 0.8 / 16 */
    }

    input.search {
        font-size: 1.25rem;
        /* 25px * 0.8 / 16 */
        line-height: 1.5rem;
        /* 30px * 0.8 / 16 */
        letter-spacing: 0.035rem;
        /* 0.7px * 0.8 / 16 */
        opacity: 0.9;
    }

    .custom-table {
        font-size: 0.9rem;
        /* 18px * 0.8 / 16 */
        line-height: 1.2rem;
        /* 24px * 0.8 / 16 */
        letter-spacing: 0rem;
        /* 0px * 0.8 / 16 */
    }

    /* Fin Institutional Directory */

    /* Inicio calendarioAcademico */

    h2-calendario {
        font-size: 3rem;
        /* 60px * 0.8 / 16 */
        line-height: 3rem;
        /* 60px * 0.8 / 16 */
        letter-spacing: 0.084rem;
        /* 1.68px * 0.8 / 16 */
    }

    h3-calendario {
        font-size: 2.85rem;
        /* 57px * 0.8 / 16 */
        line-height: 2.85rem;
        /* 57px * 0.8 / 16 */
        letter-spacing: 0.08rem;
        /* 1.6px * 0.8 / 16 */
    }

    h4-calendario {
        font-size: 1.9rem;
        /* 38px * 0.8 / 16 */
        line-height: 2.3rem;
        /* 46px * 0.8 / 16 */
        letter-spacing: 0.053rem;
        /* 1.06px * 0.8 / 16 */
    }

    p-calendario {
        font-size: 1.05rem;
        /* 21px * 0.8 / 16 */
        line-height: 1.35rem;
        /* 27px * 0.8 / 16 */
        letter-spacing: 0.0295rem;
        /* 0.59px * 0.8 / 16 */
    }

    /* Fin calendarioAcademico */

    /* Estados financieros */

    /* Inicio Certificados y papeles */

    h3-financieros {
        font-size: 3rem;
        /* 60px * 0.8 / 16 */
        line-height: 3rem;
        /* 60px * 0.8 / 16 */
        letter-spacing: 0.084rem;
        /* 1.68px * 0.8 / 16 */
    }

    p-financieros {
        font-size: 1.25rem;
        /* 25px * 0.8 / 16 */
        line-height: 1.5rem;
        /* 30px * 0.8 / 16 */
        letter-spacing: 0.035rem;
        /* 0.7px * 0.8 / 16 */
    }

    .text-up-absolute {
        position: absolute;
        top: -60px;
        margin: 0;
        padding: 0;
        font-size: 0.64rem;
        /* 0.8rem * 0.8 */
    }

    /* Fin Certificados y papeles */

}